<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcabla.microbit.game">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.mcabla.microbit.game.App">
        <activity
            android:name="com.mcabla.microbit.game.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcabla.microbit.game.ui.MainSettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mcabla.microbit.game.ui.HelpActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.mcabla.microbit.game.ui.MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.mcabla.microbit.game.ui.ServicesPresentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.mcabla.microbit.game.ui.DeviceInformationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <activity
            android:name="com.mcabla.microbit.game.ui.GameActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <service
            android:name="com.mcabla.microbit.game.bluetooth.BleAdapterService"
            android:enabled="true" />

        <service
            android:name="com.mcabla.microbit.game.python.ScriptService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mcabla.microbit.game.python.ScriptService" />
            </intent-filter>
        </service>

        <service
            android:name="com.mcabla.microbit.game.python.BackgroundScriptService"
            android:exported="false">
            <intent-filter>
                <action android:name="ccom.mcabla.microbit.game.python.BackgroundScriptService" />
            </intent-filter>
        </service>

        <service
            android:name="com.mcabla.microbit.game.python.RpcServerService"
            android:exported="false"/>

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.googlecode.android_scripting.activity.FutureActivity"
            android:theme="@android:style/Theme.Translucent"
            android:exported="false"/>

        <activity
            android:name="com.mcabla.microbit.game.python.RpcServerLauncher"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"/>
            <!--intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-->

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
